@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-style: normal;
  src: url('./asset/fonts/Pretendard-Medium.ttf') format('ttf');
  font-display: swap;
}

@theme{
  --font-family-pretendard: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
  --font-family-sans: var(--font-family-pretendard);  /* 기본 폰트로 설정 */
}

body {
  margin: 0;
  font-family: var(--font-family-pretendard);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
